.header {
    text-align: center;

    padding: 20px;

    h3 {
        font-weight: 300;
    }
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .image-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .hero-img {
            width: 80%;
            height: auto;
            object-fit: cover;
            border: 2px solid;
            border-radius: 2rem;
        }
    }
}

.btn-con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // margin-bottom: 200px;
    padding-bottom: 5%;



    .buttons {
        text-align: center;

        .home-btn {
            padding: 20px 40px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
    }
}